*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(/img/img\ 1.jpg);
    background-repeat: no-repeat;
    background-size: 240vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
a{
    color: palevioletred;
} a:hover{
    color: rgb(35, 161, 219);
}
.txtIndex{
    text-align: center;
    color: #333;
    margin-top: 0vh;
    margin-right: 120vh;
    font-size: 50px;
} .txtIndex:hover{
    color: white;
    transition: background 0.5s, color 0.5s;
}