@media (max-width: 900px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    
    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-image: url(/img/img\ 4.jpg);
        background-repeat: no-repeat;
        background-size:40vh;
        background-position: center;
    }
    a{
        color: palevioletred;
    } a:hover{
        color: rgb(35, 161, 219);
    }
    .txtIndex{
        text-align: center;
        color: #000000;
        margin-top: 0vh; 
        font-size: 10px;
    } .txtIndex:hover{
        color: rgb(0, 0, 0);
        transition: background 0.5s, color 0.5s;
    }
}