* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(/lia/img/img\ 4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

h1 {
    color: white;
    font-size: 8vw; /* Ajuste dinâmico para telas menores */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    text-align: center;
    animation: fade-in 2s;
}

iframe {
    width: 90%; /* Maior adaptabilidade para dispositivos menores */
    max-width: 600px; /* Limite de largura para telas maiores */
    height: auto;
    aspect-ratio: 16/9;
    border: 2px solid palevioletred;
    border-radius: 20px;
    animation: border-color-change 1s infinite;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 15px;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    animation: fade-in 2s;
    font-size: 4vw; /* Ajuste dinâmico */
}

/* Efeito de border em rgb rainbow iframe */
@keyframes border-color-change {
    0% { border-color: rgb(255, 0, 0); }
    50% { border-color: rgb(255, 255, 0); }
    100% { border-color: rgb(0, 255, 0); }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    h1 {
        font-size: 6vw; /* Fontes menores */
    }

    iframe {
        border-width: 2px; /* Reduzir a espessura da borda */
    }

    header {
        font-size: 5vw; /* Fontes menores no header */
        padding: 10px;
    }
}
