body{
 
    background-image: url(https://t2.tudocdn.net/650666?w=1920&h=1080);
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

button{
    background-color: #1DB954;
    border: 2px solid black;
    color: white;
    border: 2px solid #108839;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block;
    justify-content: center;
    justify-items: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #108839;
}

/*direitos autorais*/
.direitos-autorais{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-block-start: 200px;
    margin-top: 80vh;
}
.direitos{
    text-decoration: none;
    color: #1DB954;
    font-size: 25px;
    border: 1px solid #1DB954;
    padding: 2px;
    border-radius: 10px;
}
.direitos:hover{
    background-color: #108839;
    color: white;
}
/*direitos autorais*/